* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

html {
  font-size: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex: 1; */
  height: 100vh;
}

.calculator {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 0.5em;
  /* flex: 1; */
  font-size: 5rem;
  border: 1px solid #000;
}


.display {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  flex: 1;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: .1em;
  flex: 1;
  border: 1px solid red;
}

.row {
  display: flex;
  gap: .1em;
}

.button {
  font-size: 6rem;
  width: 1.5em;
}

.clear {
  justify-content: flex-end;
}