@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Roboto+Mono&display=swap');

:root {
  --orbitron: 'Orbitron', sans-serif;
  --roboto-mono: 'Roboto Mono', monospace;
  --black: #000;
  --lightgray: lightgray;
  --white: #fff;
  --aqua: aquamarine;
  --teal: teal;
  --blueish: rgb(14, 176, 176);
  --corn: cornsilk;
  --pinkish: #9e3287;
  --purplish: #8e2de2;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
}
/* From https: //heropatterns.com/ */
body {
  background-color: #DFDBE5;
  background-image: url("../assets/topography.svg");
}

html {
  font-family: var(--orbitron);
  font-size: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
}

.case {
  padding: 6em 4em;
  border-radius: 5px;
  background-color: var(--blueish);
  border: 1px solid var(--black);
}

.calculator {
  display: flex;
  flex-direction: column;
  font-size: 5rem;
}


.display {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  min-height: 2em;
  max-height: 2em;
  font-size: 3rem;
  background-color: var(--lightgray);
  padding: 1em;
  flex: 1;
}

.previous {
  order: 1;
}

.current {
  order: 2;
}

.row {
  display: flex;
  gap: .1em;
}

.clear {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: .1em;
}

.buttons {
  background-color: var(--corn);
}

.buttons>div {
  margin: .1em;
}

.button {
  font-family: var(--roboto-mono);
  text-transform: uppercase;
  color: var(--white);
  cursor: pointer;
  font-size: 5rem;
  flex: 1;
  width: 1.5em;
}

.button:hover {
  opacity: .75;
}

.all-clear {
  background-color: rgb(221, 160, 221);
}

.delete {
  background-color: rgb(238, 130, 238);
}

.number {
  background-color: rgb(147, 112, 219);
}

.operator {
  background-color: rgb(153, 50, 204);
}

.equal {
  background-color: rgb(255, 0, 255);
}

.decimal {
  background-color: rgb(138, 43, 226);
}

.footer {
  display: flex;
  justify-content: center;
  padding: 2em;
  min-height: 5vh;
}

.footer-content {
  font-size: 1.8em;
  color: #fff;
  text-shadow: 1px 1px 2px black;
  font-family: var(--roboto-mono);
}